#slf-words-evaluation-wrapper {
    height: 100%;
}

#slf-words-evaluation-additional-informations-wrapper {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;

    text-align: center;
}

.slf-evaluate-letter {
    font-weight: bold;
    font-size: x-large;

    margin: 0;
}


.slf-state-describtion-wrapper {
    width: 40%;
    margin: 8px auto;
}


.slf-state-describtion {
    text-align: center;
    margin: auto;
}


#slf-submit-evaluated-words-btn-wrapper {
    position: absolute;
    bottom: 24px;
    right: 0;
    left: 0;

    text-align: center;
}

#slf-submit-evaluated-words-btn:disabled {
    background-color: gray;
    border-color: gray;
}

#slf-evaluation-wrapper {
    position: absolute;
    top: 130px; left: 0; bottom: 130px; right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
