#rules-wrapper {
    height: 100%;
}

h4 {
    font-family: 'coffee+tea demo', 'Calibri';
    font-size: 1.5rem;
}

#sidebar-rules-heading-wrapper {
    height: 6%;

    color: white;
    background-color: rgb(102, 102, 102);

    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-rules-heading {
    margin: 0;
}

#sidebar-rules-content-wrapper {
    height: 94%;
    padding: 16px;
    
    overflow: auto;

    background-color: rgb(233, 233, 233);
    text-align: left;

    white-space: pre-wrap;
}