#chat-wrapper {
    height: 100%;
}

#sidebar-chat-heading-wrapper {
    height: 6%;

    color: white;
    background-color: rgb(102, 102, 102);

    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-chat-heading {
    margin: 0;
}

#chat {
    height: 94%;

    display: flex;
    flex-direction: column;
}

#chat-text {
    background-color: rgb(233, 233, 233);
    height: 100%;

    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
}

#chat-input-wrapper {
    height: 36px;
}

#chat-input {
    height: 100%;
    width: 100%;

    font-size: 14px;
}

#chat-input:focus {
    outline: none;
}

.send-btn-icon {
    color: white;
}

.send-btn-icon:hover{
    color: white;
}